* {
  box-sizing: border-box;
}

body {
  font-family: $font-secondary;
  margin: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
}

h2 {
  font-size: $home-title-size;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

.page-title {
  font-family: $font-primary;
  margin-bottom: 16px;
}

.bg-grey {
  background-color: $background;
}

.main-container {
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
  margin: 0 auto;

  // Styles internes pour éviter le dépassement de largeur
  * {
    max-width: 100%;
    box-sizing: border-box;
  }
}


@media (min-width: 1024px) {
  .main-container {
    max-width: 1440px;
  }
}
