.menu {
  position: relative;
}

.banner {
  position: relative;
  overflow: hidden;
  height: 450px;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.restaurant-content {
  position: relative;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
  z-index: 1;
}

.restaurant-name {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: $font-primary;
    font-size: 28px;
  }

  .fa-heart {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 45px;
    right: 30px;
  }
}


.dishes h2 {
  font-weight: 200;
}

.custom-border {
  display: inline-block;
  position: relative;
}

.custom-border::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 60px;
  border-bottom: 3px solid $tertiary-color;
}

.dish-card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.dish-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
  width: 100%;
  transition: width 0.3s ease-out;
  .dish-info {
    overflow: hidden;
    display: inline;
    p{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  p {
    margin: 5px 0;
  }

}

.dish-name {
  font-size: 18px;
  font-weight: 500;
}

.price {
  font-size: 15px;
  font-weight: 200;
  text-align: right;
  width: 60px;
  font-weight: 500;
  flex-grow: 0;
}

.dish-check {
  color: white;
  background-color: $tertiary-color;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-wrap: nowrap;
  transition: width 0.3s ease-out;
  width: 0;
  transform-origin: right;
}


.dish-card:active .dish-check {
  width: 60px;
}

.dish-card:active .dish-text {
  width: calc(100% - 60px);
}
